<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oncoti" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >

        <meta-data android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name"/>

        <activity
            android:name=".ActivityClasses.StartActivity"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityClasses.MainActivity" >
        </activity>
        <activity
            android:name=".ActivityClasses.AddNewHeadlineActivity"
            android:label="@string/title_activity_new_headline"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <activity
            android:name=".ActivityClasses.AddNewVisitAcitivty"
            android:label="@string/title_activity_add_new_visit_acitivty" >
        </activity>
        <activity
            android:name=".ActivityClasses.ProductDetailsActivity"
            android:label="@string/title_activity_product_details"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ActivityClasses.AddNewProductActivity"
            android:label="@string/title_activity_add_new_product" >
        </activity>
        <activity
            android:name=".ActivityClasses.VisitDetailsActivity"
            android:label="@string/title_activity_visit_details" >
        </activity>
        <activity
            android:name=".ActivityClasses.ChatActivity"
            android:label="@string/title_activity_chat"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ActivityClasses.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".ActivityClasses.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".ActivityClasses.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
